<footer class="container d-flex justify-content-between align-items-center flex-row my-3 mt-5 col-md-12">
    <p>Currently v{{ site.version }}</p>
    <ul class="list-unstyled list-inline d-flex">
        <li><a href="https://linkedin.com/in/alvaro-manoso" target="_blank"><i class="bi bi-linkedin p-1" style="color: #0077B5;"></i></a></li>
        <li><a href="https://github.com/alvaromaoc" target="_blank"><i class="bi bi-github p-1" style="color: var(--bs-body-color);"></i></a></li>
    </ul>
</footer>