<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if site.google_analytics_id %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics_id }}');
    </script>
    {% endif %}

    {% if page.title == "Home" %}
    <title>{{ site.title }} &middot; {{ site.tagline }}</title>
    <meta name="og:title" content="{{ site.title }}">
    {% else %}
    <title>{{ page.title }} &middot; {{ site.title }}</title>
    <meta name="og:title" content="{{ page.title }}">
    {% endif %}

    {% if site.description %}
    <meta name="description" content="{{ site.description }}" />
    <meta name="og:description" content="{{ site.description }}" />
    {% endif %}

    {% if page.url and site.baseurl %}
    <link rel="canonical" href="{{ site.url }}">
    <meta rel="og:url" href="{{ site.url }}">
    {% endif %}

    {% if page.layout == "default" %}
    <meta name="robots" content="noindex,nofollow">
    {% endif %}

    <meta name="og:type" content="website">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png">
    <!-- Apple Touch icon should be replaced with a 180x180 image -->
    <link rel="apple-touch-icon" href="/img/favicon.png">

    <script type="module">
        import { setAppropriateTheme } from '/js/theme.js'
        setAppropriateTheme();
    </script>
</head>