<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" id="navbarList">
        {% assign pages_list = site.pages | sort:"url" %}
        {% for node in pages_list %}
          {% assign page_depth = node.url | split: '/' | size %}
          {% if page_depth <= 2 %}
            {% if node.title != null %}
              {% if node.layout == "page" %}
                <li class="nav-item">
                  <a href="{{ node.url }}" class="nav-link{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="darkMode">
      <label class="form-check-label" for="darkMode" waffle-lang="literal.dark-mode">Dark mode</label>
    </div>
  </div>
</nav>

<script type="module">
  import { changeToDarkTheme, changeToLightTheme, isDarkCurrentTheme } from '/js/theme.js'

  const darkModeSwitch = document.getElementById('darkMode');
  darkModeSwitch.checked = isDarkCurrentTheme();
  darkModeSwitch.addEventListener('click', () => {
    if (darkModeSwitch.checked) {
      changeToDarkTheme();
    } else {
      changeToLightTheme();
    }
  });
</script>